/**
 * This file has a "-" prefix in its filename,
 * indicating for @tanstack/react-router that this file should be ignored when building the routes.
 * */

.root {
  display: inline-block;
}

.variant-ai {
  inline-size: 3.1875rem;
  block-size: 1rem;
}

.variant-ak {
  inline-size: 2.8125rem;
  block-size: 1.25rem;
}

.variant-ap {
  inline-size: 2.8125rem;
  block-size: 1.25rem;
}

.variant-as {
  inline-size: 2.8125rem;
  block-size: 1.25rem;
}
