@use '@stihl-design-system/components/styles/scss/ds';

.custom-brand {
  display: flex;
  align-items: center;
}

// In the example Utility Navigation in PrimaryArea only and Brand AddOn we want to spread
// the Utility Navigation to the full width of the container on mobile. (see designs)
.utility-navigation-brand-add-on {
  width: 100%;

  // From breakpoint 'm' and up, the primary area will be aligned to the right.
  @include ds.media-query-min('m') {
    // Custom styling for the Utility Navigation to align it to the right
    margin-inline-start: auto;
    width: auto;
  }
}

// utility navigation styles
.list {
  display: flex;
  align-items: center;
  gap: ds.$spacing-8;

  // reset native ul styles
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-menu-button {
  display: block;
}

.vertical-divider {
  width: 0.0625rem; // 1px but in rem to cover font-size: 200%
  height: 2.5rem;
  margin-inline: ds.$spacing-8;
  background-color: ds.$theme-light-border-color-tertiary;
}

.vertical-divider-container {
  // Align everything after the vertical divider to the right on viewports < M (768px)
  margin-inline-start: auto;

  @include ds.media-query-min('m') {
    margin-inline-start: unset;
  }
}

// hides elements on viewports >= L (1024px)
.only-mobile {
  display: block;
  @include ds.media-query-min('l') {
    display: none;
  }
}

// shows elements on viewports >= L (1024px)
.only-desktop {
  display: none;
  @include ds.media-query-min('l') {
    display: block;
  }
}
