@use '@stihl-design-system/components/styles/scss/ds';

.page {
  // Simple page styling for the example.
  padding: ds.$spacing-dynamic-s;
}

.card-container {
  // Define container for card orientation queries. This should always be done to the
  // wrapping element of the card. In grids this is usually the <li> element.
  container-type: inline-size;
  container-name: card-orientation;
}

.card-header-slot,
.card-footer-slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: ds.$spacing-16;
}

.card-supplementary-slot {
  padding-block: ds.$spacing-4;
  padding-inline: ds.$spacing-0;
}

// Padding inside the cards content.
// This matches the setting of the 'padding' prop 'small'.
// No need to set that prop to 'small' when using this responsive container query method.
.card-content-wrapper {
  padding: ds.$spacing-16;
}

.card-flags-list {
  display: flex;
  flex-wrap: wrap;
  gap: ds.$spacing-8;
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion {
  // Overwrite default DSAccordion max-width to fill the card width.
  max-width: 100%;
}

// Some accordion content styles.
.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: ds.$spacing-16;

  li {
    display: flex;
    align-items: center;
    gap: ds.$spacing-12;
  }
}

// Change content padding when card width exceeds 420px.
// This matches the setting of the 'padding' prop 'medium'.
// No need to set that prop to 'medium' when using this responsive container query method.
@container card-orientation (width > 420px) {
  .card-content-wrapper {
    padding: ds.$spacing-24;
  }

  .card-supplementary-slot {
    padding-block: ds.$spacing-6;
    padding-inline: ds.$spacing-8;
  }
}

// Default responsive behavior:
// Vertical layout up to a card width of 687px, horizontal layout above.

// Applies the same styles as the orientation='horizontal' prop.
// No need to set that prop to horizontal when using this responsive container query method.
@container card-orientation (width > 687px) {
  .card-responsive {
    // Use grid layout for horizontal cards to better align content areas.
    // Supplementary content spans full width below media and content.
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'media content'
      'supplementary supplementary';
    width: 100%;

    // Increase max-width from vertical layout to allow wider cards in horizontal layout.
    max-width: 1435px;
  }

  // In horizontal layout, change the image aspect ratio to 3:4 as defined by Design.
  .card-media-slot {
    grid-area: media;
    aspect-ratio: 3/4;
    max-width: 345px;

    img {
      aspect-ratio: 3/4;
      border-top-right-radius: 0;
      border-top-left-radius: ds.$spacing-4;
      // Because of the supplementary area below, bottom-left radius is removed.
      border-bottom-left-radius: 0;
    }
  }

  .card-content-wrapper {
    grid-area: content;
    padding: ds.$spacing-32;
  }

  .card-supplementary-slot {
    grid-area: supplementary;

    padding-block: ds.$spacing-8;
    padding-inline: ds.$spacing-16;
  }
}

@container card-orientation (width > 859px) {
  // These max-width constraints help to keep the image smaller on wider cards,
  // which is requested by Design. In Figma the image just grows as high as the
  // card content makes the card (hug).
  .card-media-slot {
    max-width: 224px;
  }

  .card-header-slot {
    flex: 2;
  }

  .card-footer-slot {
    flex-direction: row;
  }
}

@container card-orientation (width > 1100px) {
  // When card width is above 859px, use a two-column layout for card content.
  // Footer with buttons is moved and aligned to the right.
  .card-content-wrapper {
    flex-direction: row;
    gap: ds.$spacing-64;
    width: 100%;
  }

  .card-footer-slot {
    margin-block-start: unset;
    flex-direction: column;
    align-items: stretch;
  }

  .card-media-slot {
    max-width: 216px;
    aspect-ratio: 1 / 1;

    img {
      aspect-ratio: 1 / 1;
    }
  }
}
